body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #b3cde0, #6497b1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calculator {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 15px;
  font-size: 2rem;
  color: #333;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  width: 48%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #6497b1;
  outline: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  width: 22%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(135deg, #b3cde0, #6497b1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #6497b1, #b3cde0);
  transform: scale(1.05);
}

.result-container {
  margin-top: 15px;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .input-container {
    flex-direction: column;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons-container {
    flex-direction: column;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}